@tailwind base;

a {
  @apply text-blue-700;
}

a:hover {
  @apply border-b-2 border-blue-700;
}

@tailwind components;

@tailwind utilities;

.content p {
  @apply my-6;
}

.content ul {
  @apply my-6;
}

@media only screen and (max-width: 765px) {
  .smallCards {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media only screen and (min-width: 765px) {
  .expandCards {
    width: 1000px;
  }
}

.max-w-screen-md {
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 765px) {
  .ask-logo {
    display: none;
  }

  .search-bar {
    display: flex;
  }
}
